<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>330616809208-qfc7lcaqe6vb1g3tn0ok7jkkmn8slkr4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.330616809208-qfc7lcaqe6vb1g3tn0ok7jkkmn8slkr4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>330616809208-mn212js65mdqdhu53mcf7rnf7du5qcs3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBJrp14--3Kc4VPoXbaoMEJ4IJVA5Hd-bY</string>
	<key>GCM_SENDER_ID</key>
	<string>330616809208</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ruizurraca.carapp.debug</string>
	<key>PROJECT_ID</key>
	<string>davidruiz-carapp-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>davidruiz-carapp-dev.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:330616809208:ios:fa5cdbe548e91b1d373d0d</string>
</dict>
</plist>
